.sortMenu {

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  background-color: #fff;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

  .logo {
    width: 5vw;
    position: absolute;
    margin-top: 0rem;
    margin-right: 68rem;
  }

  .menuIcon {
    display: none; // Skjul burgerikonet som standard
    cursor: pointer;

    @media (max-width: 768px) {
      display: block; // Vis burgerikonet, når skærmstørrelsen er mindre end 768px
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 10;
    }

    .iconBar {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }
  }

  .theMenu {
    max-width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    .categoryLinks {
      margin: 0; // Juster afstanden mellem kategorier efter behov
      position: relative; // Gør det muligt at positionere pseudoelementet i forhold til dette element

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #333; // Farven på divideren
        right: -1rem; // Placer divideren til højre for dette element
        top: 1rem; // Placer divideren i toppen af dette element
        transform: translateY(-50%); // Centrer divideren vertikalt
      }
    }
  }

  a {
    color: black; // Juster farven efter behov
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #333; // Ændre farven ved hover efter behov
    }
  }
}


@media (max-width: 768px) {
  .sortMenu {
    display: none;
  }
}