.foot{
    background-color: #fff;
    height: 200px;
    margin-top: 2rem;
    section{
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    ul{
        text-decoration: none;
        list-style: none;

    }
}

/* Responsivt layout */
@media (max-width: 768px) {
    .foot {
      width: 590px;
      grid-template-columns: 1fr 1fr;
    
    }
  }