.blogGrid {
  max-width: 80%;
  margin: 0 auto;
    display: grid;
    grid-template-areas: 
      "a a a a"
      "b b c c"
      "b b d d"
      "e e d d"
      "f f f f"
      "g g g g"
      "h h i i"
      ;
    grid-gap: 20px;
    .red{
      color: red;
      font-size: 14px;
      font-weight: 400;
    }
    h2{
      font-size: 40px;
      font-weight: 400;
    }
    p{
      font-size: 16px;
      font-weight: 400;
    }

  }
  .imageContainer{
    img{
    height: 400px;
  width: 100%;
object-fit: cover;}
  }
  
  .blogPost {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

  }
  
  .readMore {
    display: inline-block;
    margin-top: 10px;
    color: blue;
  }
  
  /* Responsivt layout */
  @media (max-width: 768px) {
    .blogGrid {
      grid-template-areas: 
        "a a"
        "b b"
        "c c"
        "d d"
        "e e"
        "f f"
        "g g"
        "h h"
        "i i";
    }
  }
  