.blogGrid {
  max-width: 1200px;
  margin: 0 auto; 
  display: grid;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "b b d d"
    "e e d d"
    "f f f f"
    "g g g g"
    "h h i i"
  ;
  grid-gap: 20px;

  .red {
    color: red;
    font-size: 14px;
    font-weight: 400;
  }

  h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }
}

.imageContainer {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.blogPost {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.readMore {
  display: inline-block;
  margin-top: 10px;
  color: blue;
}



/* Styling for de specifikke grid-områder */
.blogPost[data-grid-area='a'] {
  img{
    height: 435px;
  }
}

.blogPost[data-grid-area='b'] {
  h2{
    height: 100px;
  }
  img{
    height: 492px;
    object-position: bottom;
  }
}


.blogPost[data-grid-area='c'] {
  h2{
    height: 100px;
  }
  img{
    height: 183px;
    object-position: bottom;
  }
}

.blogPost[data-grid-area='d'] {
  img{
    height: 492px;
  }
}

.blogPost[data-grid-area='e'] {
  img{
    height: 183px;

  }
}


.blogPost[data-grid-area='f'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr;
  gap: 2rem;

  .imageContainer {
    grid-column: 1; // Placerer containeren til venstre
    grid-row: 1;
    
    img{
      height: 312px;

    }
  }

  > * {
    grid-column: 2; // Placerer alt andet til højre
    grid-row: 1;
  }
  h2{
    margin-top:3rem;
  }
  .red{
    margin-top: 9.5rem;
  }
.readMore{
  margin-top: 16rem;
}
.blogText{
  margin-top: 11.5rem;
}

}
.blogPost[data-grid-area='g'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr;
  gap: 2rem;

  > * {
    grid-column: 1; // Placerer containeren til venstre
    grid-row: 1;
    width: 510px;
  }

  .imageContainer {
    grid-column: 2; // Placerer alt andet til højre
    grid-row: 1;
    img{
      height: 312px;

    }
  }
  h2{
    margin-top:3rem;
  }
  .red{
    margin-top: 9.5rem;
  }
.readMore{
  margin-top: 16rem;
}
.blogText{
  margin-top: 11.5rem;
}

}

.blogPost[data-grid-area='h'] {
  h2{
    height: 100px;
  }
  img{
    height: 183px;
    object-position: top;
    ;
  }
}
.blogPost[data-grid-area='i'] {
  h2{
    height: 100px;
  }
  img{
    height: 183px;
  }
}
/* Responsivt layout */
@media (max-width: 768px) {
  .blogGrid {
    width: 590px;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d"
      "e e"
      "f f"
      "g g"
      "h h"
      "i i";
  }
}